<footer class="footer">
  <div class="footer-container">
    <!-- LEFT -->
    <div class="footer-left">
      <!-- <p>© 2026 Stayo Private Limited. All rights reserved.</p> -->
       <!-- <p>© 2026 Stayo Private Limited. All rights reserved.</p>
<p class="small-text">
  Built by <a href="...">Samal Kumar</a>
</p> -->

<p>
  © 2026 Stayo. Made with ❤️ by 
  <a href="https://www.linkedin.com/in/samal-kumar-choudhary-0139582a9/" target="_blank"><i>Samal</i></a>
</p>
      <div class="footer-links">
        <a href="#">Privacy Policy</a> 
        <a href="#">Terms of Service</a> 
        <a href="#">Sitemap</a>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="footer-right">
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/samal-kumar-choudhary-0139582a9/" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/samal-101-kr/" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
    </div>

  </div>
</footer>