<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-lg-8 col-md-10 col-12 mx-auto">
    <h3>Create a New Listing</h3>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3 mt-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div> 
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="describe here" type="text" class="form-control" rows="4" required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input name="listing[image]" placeholder="enter image URL/link" type="file" class="form-control" required>
        </div>
        <div class="row">
        <div class="mb-3 col-lg-4 col-md-6 col-12">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="1500" type="number" class="form-control" required>
            <div class="invalid-feedback">Price should be valid!</div>
        </div>
        <div class="mb-3 col-lg-8 col-md-6 col-12">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
            <div class="invalid-feedback">Country name should be valid!</div>
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Raipur,Chhattisgarh" type="text" class="form-control" required>
            <div class="invalid-feedback">Location should be valid!</div>
        </div>
        <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <select name="listing[category]" class="form-control" required>
        <option value="">Select Category</option>
        <!-- <option value="trending">Trending</option> -->
        <option value="rooms">Rooms</option>
        <option value="iconic">Iconic Cities</option>
        <option value="mountain">Mountain</option>
        <option value="castles">Castles</option>
        <option value="pools">Amazing Pools</option>
        <option value="camping">Camping</option>
        <option value="farms">Farms</option>
        <option value="arctic">Arctic</option>
    </select>
    <div class="invalid-feedback">Please select a category</div>
</div>
        <button class="btn btn-dark add-btn mt-2 px-4">Add</button>
        <br> <br>
    </form>
</body>
</div>
</div>